<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page layout</title>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
    <div class="box1">
        <div class="inner1"></div>
        <p class="header">HEADER</p>
        <div class="inner2">
            <button></button>
            <button></button>
            <button></button>
        </div>
    </div>

    <div class="box2">
        <a href="">NAV(LINKS)</a>
    </div>

    <div class="box3">
        <div class="side1"><p class="p-side">SIDEBAR 1</p></div>
        <div class="side2">SIDEBAR 2</div>
        <div class="side3">
            <p class="p-side3">SIDEBAR 3</p>
        </div>
    </div>

    <div class="footer">FOOTER</div>

</body>
</html>/